body {
    background-color: #222;
    color: #fff;
    text-align: center;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    width: 80%;
}

form {
    width: 100%;
    display: flex;
    gap: 16px;
}

.cityCard {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    color: #222;
    border: 1px solid white;
    margin-top: 10px;
    padding: 10px 10px;
}

input {
    flex-grow: 1;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 6px 6px;
    outline: none;
}

input:active {
    outline: none;
}